user www-data;
daemon off;
worker_processes {{ NGINX_WORKER_PROCESSES }};
pid /var/run/nginx.pid;

events {
    worker_connections {{ NGINX_WORKER_CONNECTIONS }};
    # multi_accept on;
}

http {
    sendfile {{ NGINX_SENDFILE }};
    tcp_nopush {{ NGINX_TCP_NOPUSH }};
    tcp_nodelay {{ NGINX_TCP_NODELAY }};
    keepalive_timeout {{ NGINX_KEEPALIVE_TIMEOUT }};
    types_hash_max_size {{ NGINX_TYPES_HASH_MAX_SIZE }};
    client_max_body_size {{ NGINX_CLIENT_MAX_BODY_SIZE }};
    server_tokens off;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    fastcgi_temp_file_write_size {{ NGINX_FCGI_TEMP_WRITE_SIZE }};
    fastcgi_busy_buffers_size {{ NGINX_FCGI_BUSY_BUFF_SIZE }};
    fastcgi_buffer_size {{ NGINX_FCGI_BUFF_SIZE }};
    fastcgi_buffers {{ NGINX_FCGI_BUFFERS }};
    proxy_request_buffering {{ NGINX_REQUEST_BUFFERING }};

    access_log /dev/stdout;
    error_log /dev/stderr;

    gzip {{ NGINX_GZIP }};
    gzip_disable "msie6";

    server {
        listen 80 default_server;
        listen [::]:80 default_server;
        set $root_dir '';

        if (-d /var/www/html/{{ NGINX_ROOT_DIR }}) {
            set $root_dir '{{ NGINX_ROOT_DIR }}';
        }

        if (-d /var/www/html/web) {
            set $root_dir 'web';
        }

        root /var/www/html/$root_dir;
        index index.html index.php;
        server_name _;

        {% if NGINX_ENABLE_DEFAULT_LOCATION_INDEX == 'true' %}
        location / {
            try_files $uri /index.php$is_args$args;
        }
        {% endif %}

        include /etc/nginx/conf.d/*.conf;

        {% if NGINX_ENABLE_CUSTOM_CONFIG == 'true' %}
        include /var/www/html/.nginx/*.conf;

        location /.nginx {
            deny all;
        }
        {% endif %}

        {% if NGINX_DEF_LOCATION_WELL_KNOWN == 'true' %}
        # Allow "Well-Known URIs" as per RFC 5785
        location ~* ^/.well-known/ {
            allow all;
        }
        {% endif %}

        {% if NGINX_DEF_LOCATION_DOT == 'true' %}
        location ~ (^|/)\. {
            return 403;
        }
        {% endif %}

        {% if NGINX_DEF_LOCATION_FAVICON == 'true' %}
        location = /favicon.ico {
            log_not_found off;
            access_log off;
        }
        {% endif %}

        {% if NGINX_DEF_LOCATION_ROBOTS == 'true' %}
        location = /robots.txt {
            allow all;
            log_not_found off;
            access_log off;
        }
        {% endif %}

        {% if NGINX_DEF_LOCATION_HTACCESS == 'true' %}
        location ~ /\.ht {
            deny all;
        }
        {% endif %}

        {% if NGINX_DEF_LOCATION_INDEX_PHP == 'true' %}
        location ~ ^/index\.php(/|$) {
            include /etc/nginx/fastcgi-php.conf;
        }
        {% endif %}
    }
}
