
[program:nginx]
command=nginx
startretries=6
autorestart=true
autostart=true
user=root

[program:php]
command=php-fpm -F {% if PHP_VERSION|float > 5.5 %}-O{% endif %}
startretries=6
autorestart=true
autostart=true
user=root

[program:cron]
command=cron -f
startretries=6
autorestart=true
autostart=true
user=root
